<!-- This item was created by the help of bootstrap -->
<div class="card h-100">
    <div class="card-body">
        <h2 class="card-title">Item One</h2>
        <img src="https://sun9-65.userapi.com/impg/lj1wrCJzxNhj03oLu6XRAUWIqhMtHBeD89E4jw/FYkaLv-3R3A.jpg?size=1076x1076&quality=96&sign=e8ba3b322c24dc498f464b593f377088&type=album"
            height="325px">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
            numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
    </div>
    <div class="card-footer">
        <a href="#" class="mr-5  btn btn-primary btn-sm">$69</a>
        <a href="#" class="ml-5 btn btn-primary btn-success m-0 p-1.2">Add to the cart</a>
    </div>
</div>