<!-- This item was created by the help of bootstrap -->
<div class="col-md-5 mb-5" *ngFor="let p of products">
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{p.name}}</h2>
        <img src="{{p.img}}"
            height="200px">
        <p class="card-text">{{p.description}}</p>
    </div>
    <div class="card-footer">
        <a href="#" class=" mr-3 btn btn-primary ">${{p.price}}</a>
        <a href="#" class="ml-2 btn btn-primary btn-success ">Add to the cart</a>
    </div>
</div>
</div>
